<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
   .center {
    width: 20%; /* Ширина элемента в пикселах */
    top: 10%;
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #fc0; /* Цвет фона */
   }
  </style>
</head>
<body>
<div class="center">
    <div class="center"><h1>Добро пожаловать</h1>
        <button onclick="window.location.href='/filmlist'">просмотреть список фильмов</button>
    </div>
</div>
</body>
</html>